<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
        ul.booklist li img {
            width: 50px;
        }
    </style>    
</head>
<body>
    <h1>Hello, Vue :)</h1>
    <div id="app">
        <a v-bind:href="url">The Best website ever</a>
        <a :href="url">This is the same link, just easier to write</a>
        <div v-if="showBooks">
            <ul class="booklist" v-for="book in books">
                <li>
                    <img :src="book.img" :alt="book.title"/>
                    <h3>{{book.title}}</h3>
                    <p>{{ book.author }}</p>
                </li>
            </ul>
        </div>
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>

        <div v-show="showBooks">Currently Showing Books</div>
        <br/>
        <!-- Mouse Events -->
        <div class="box" @mouseover="handleEvent($event, 5)">mouse over</div>
        <div class="box" @mouseleave="handleEvent">mouse leave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">Position: {{x}} - {{y}}</div>
    </div>
    <script src="app.js"></script>
</body>
</html>